@model H724.UI.Web.Models.RoomReservationModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("CreditCardInfo"))
{
    @Html.TextBox("firstName")
    <input type="submit" value="Book" />
}